.LiveSection {
    display: flex ;
    overflow: auto ;
    padding: 10px ;
    cursor: pointer;
    overflow-x: hidden !important ;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    /* cursor: pointer; */
    cursor: grabbing;
}
